<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>ADD USER HERE</h1>
    <form action="/adduser" method="POST">
        <div>
            <input type="text" name="empID" id="empID" placeholder="Employee ID">
        </div>
        <div>
            <input type="text" name="name" id="name" placeholder="Employee Name">
        </div>
        <div>
            <input type="text" name="email" id="email" placeholder="Employee Email">
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div>
            <input type="text" name="manEmail" id="manEmail" placeholder="Manager Email">
        </div>
        <div>
            <input type="text" name="Account" id="Account" placeholder="Account">
        </div>
        <button>ADD USER</button>
    </form>
</body>
</html>